
.img-wrapper{
    max-height: 500px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    transition: 300ms;
}
.img-wrapper img:hover{
    transform: scale(1.2) rotate(5deg);
}
.video-wrapper{
    max-height: 500px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.video-wrapper video:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 20px black;
}

.imageNav{
    position: absolute;
    padding: 10px;
}
.fullImage{
    height: 100vh;
}
.fullImage img{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fullVideo video{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.message{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: white;
    padding: 15px 0px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}
.arrowUp{
    padding: 10px;
    width: 60px;
    position: fixed;
    background-color: #0c3d5d;
    top: 90%;
    z-index: 199999;
}
@media screen and (min-width: 1000px) {

    .fullImage img {
        height: 100%;
    }
    .video-wrapper {
        width: 33.33%;
    }
    .img-wrapper {
        width: 33.33%;
    }
    .fullVideo{
        height: 100vh;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px){

    .fullImage img {
        height: 100%;
    }
    .video-wrapper {
        width: 50%;
    }
    .img-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 1000px) {

    .fullImage img {
        padding-top: 100px;
    }

}