
.img-wrapper{
    width: 33.33%;
    max-height: 500px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    transition: 300ms;
}
.img-wrapper img:hover{
    transform: scale(1.2) rotate(5deg);
}
.video-wrapper{
    width: 33.33%;
    max-height: 500px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.video-wrapper video:hover{
    transform: scale(1.2) rotate(5deg);
}

.imageNav{
    position: absolute;
    padding: 10px;
}
.fullImage{
    height: 100vh;
}
.fullImage img{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.message{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: white;
    padding: 15px 0px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}